.body {
    font-family: 'Montserrat';
    font-weight: bold;
}
/*title */
#title {
    background-color: #ff4c68;
    color: #fff;

}
 
.container-fluid {
    padding: 3% 15%;
    padding-bottom: 7%;
}

.navbar {
    padding: 0 0 4.5rem!important;
}

.Mont {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.navbar-brand {
    font-family: Ubuntu;
    font-weight: bold;
    font-size: 4.5rem!important;
}

.nav-item {
    padding: 0 18px;
}

.buttom {
    margin: 5% 3% 5% 0;
}

.dogy {
    width: 60%;
    margin-left: 90px;
    margin-bottom: 20px;
   
    transform: rotate(25deg);
    position: absolute;
}
@media (max-width: 992px){
    #title{
        text-align: center;
    }
.dogy{
    margin: auto;
    position: static;
    transform: rotate(0);
}
}
.col-lg-4 {
    text-align: center;
    margin: 50px 0;
    font-size: 3rem;
    
}

.fas {
    color: #ef8172;
}

.h2 {
    font-family: 'Montserrat';
    font-weight:bold ;
    font-size: 20px;
}
.p1{
    font-size: 10px;
    color:#8f8f8f;
}
.fas:hover{
    color: #ff4c88;
}
#features{
    padding: 7% 15%;
    position: relative;
    background-color: #fff;

}
#testimonials{
    color: #fff;
    background-color: #ef8172;
    text-align: center;
    font-family: 'Montserrat bold';
 
    
}
.carousel-item{
    padding: 10% 10%;
}
.testimonial-image{
    font-size: small;
    border-radius: 100%;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding: 20px 20px 50px;
    font-size: smaller;
}
.pics{
    width: 15%;
    margin-right: 5%;

}
#pricing{
    text-align: center;
    padding: 10%;
}
p{
    font-family: Arial, sans-serif;
    font-size:1rem;
}
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 5%;

}
.cls{
    font-family: 'Montserrat';
    font-weight: bold;
    color: #fff;
}
#footer{
    text-align: center;
}
.gtr{
    font-size: small;
    color: black;
    padding: 2% 1%;
}
.gtr:hover{
    color: black;
}